body {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.calculator-grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    gap: 3px;
}

.calc-clear {
    display: grid;
    grid-template-columns: 103px 103px;
    grid-template-rows: 50px;
    gap: 3px;
}

.calc-display {
    display: grid;
    grid-template-columns: 209px;
    grid-template-rows: 50px;
}

.calculator-grid button,
.calc-clear button,
.calc-display button:not(.display) {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 10px;
}